.education__container {
  display: flex;
  /* padding-top: 550px; */
  align-items: flex-start;
  justify-content: flex-start;
  width: clamp(300px, 80vw, 800px);
  flex-direction: column;
  height: 60vh;
  /* overflow-y: scroll; */
  gap: 20px;
}
.education__card {
  padding: 20px;
}

@media screen and (max-width: 980px) {
  .education__container {
    height: 65vh;
  }
}
