.ui__button__container{
    background: var(--tertiary-bg-color);
    border: 2px solid var(--secondary-bg-color);
    /* border-color: ; */
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    box-shadow: var(--secondary-box-shadow);
    color: var(--primary-fg-color);
    font-weight: 600;
    font-size: 1rem;
}

.ui__button__container:hover{
    background: var(--primary-bg-color);
    border: 2px solid var(--primary-fg-color);
    color: var(--primary-fg-color);

}

.ui__button_text_container{
    display: flex;
    align-items: center;
    justify-content: center;
}