@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --primary-bg-color : rgb(44, 51, 51);
  --secondary-bg-color : rgb(46, 79, 79);
  --tertiary-bg-color :  linear-gradient(15deg, #01466d 0%, #50b1a6 100%);
  --primary-fg-color : rgb(56, 112, 101);
  --secondary-fg-color : linear-gradient(15deg, #1e75a7 0%, #80d0c7 100%);
  --primary-box-shadow  :   rgba(56, 112, 101, 0.4) -5px 5px, rgba(56, 112, 101, 0.3) -10px 10px, rgba(56, 112, 101, 0.2) -15px 15px, rgba(56, 112, 101, 0.1) -20px 20px, rgba(56, 112, 101, 0.05) -25px 25px;
  --secondary-box-shadow : rgba(56, 112, 101, 0.2) -5px 5px, rgba(56, 112, 101, 0.1) -10px 10px; */

  /* Combination 2 */
  /* --primary-bg-color: #070e09;
  --secondary-bg-color: #1a2b33;
  --text-color: #ebf5ee;
  --tertiary-bg-color: rgb(56, 112, 101);
  --primary-fg-color: black;
  --secondary-fg-color: #669bb2;
  --primary-box-shadow: rgba(56, 112, 101, 0.4) -5px 5px,
    rgba(56, 112, 101, 0.3) -10px 10px, rgba(56, 112, 101, 0.2) -15px 15px,
    rgba(56, 112, 101, 0.1) -20px 20px, rgba(56, 112, 101, 0.05) -25px 25px;
  --secondary-box-shadow: rgba(56, 112, 101, 0.4) -5px 5px,
    rgba(56, 112, 101, 0.2) -10px 10px; */

  --primary-bg-color: rgb(6, 6, 34);
  --secondary-bg-color: #1a2b33;
  --text-color: #ebf5ee;
  --tertiary-bg-color: rgb(56, 112, 101);
  --primary-fg-color: black;
  --secondary-fg-color: #82c3df;
  /* --secondary-fg-color: red; */
  --primary-box-shadow: rgba(56, 112, 101, 0.3) -5px 5px,
    rgba(56, 112, 101, 0.2) -10px 10px;
  --secondary-box-shadow: rgba(56, 112, 101, 0.1) -5px 5px,
    rgba(56, 112, 101, 0.1) -10px 10px;
}
body {
  background: var(--primary-bg-color);
  color: var(--text-color);
  font-family: 'Signika', sans-serif;
}
