@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
.home__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  font-family: 'Signika', sans-serif;
}
/* .hello__img {
  mix-blend-mode: multiply;
  height: 100px;
  width: 200px;
} */
.home__left__heading {
  display: flex;
  align-items: flex-end;
}
.home__tester__image {
  /* mix-blend-mode:lighten; */
  width: clamp(300px, 80vw, 600px);
  padding-top: 15px;
}
.home__animation {
  align-self: flex-start;
  margin-left: 10px;
  width: 50px;
}

.home__name {
  /* color: var(--secondary-bg-color); */
  background: var(--secondary-fg-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Martian Mono', monospace;
}
.home__left {
  width: clamp(300px, 80vw, 800px);
  line-height: 1.4;
}
.home__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  right: 40px;
}
.vertical {
  border-right: 4px solid var(--secondary-bg-color);
  height: 10vh;
  box-shadow: var(--secondary-box-shadow);
}

.home__icon_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--tertiary-bg-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--text-color);
  border: 2px solid var(--tertiary-bg-color);
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: var(--secondary-box-shadow);
}
.home__icon_button:hover {
  background: var(--primary-bg-color);
  border: 2px solid var(--tertiary-bg-color);
  color: var(--text-color);
}
.home__link {
  text-decoration: none;
  color: var(--text-color);
}
.home__desc {
  width: clamp(300px, 80vw, 600px);
  padding: 10px 0;
  line-height: 1.5;
  font-size: 1.1rem;
}
@media screen and (max-width: 980px) {
  .home__container {
    padding-top: 100px;
    flex-direction: column;
  }
  .home__right {
    flex-direction: row;
    /* width: 100vw; */
    position: relative;
    left: 2vw;
    align-items: center;
    justify-content: center;
    right: 17vw;
  }
  .home__tester__image {
    height: 300px;
  }
  .vertical {
    border-right: none;
  }
}
