.navbar__container{
    position: fixed;
    top: 0;
    left: 0;
}
.MuiPaper-root{
    background: var(--secondary-bg-color) !important;
}
a{
    text-decoration: none;
    padding: 4px 10px ;
    
}
.MuiButtonBase-root{
}
.navlink__container{
    color: black;
    padding: 4px 10px !important;
}

.active{
    color: black !important ;
    transform:scale(10px);
    border-bottom: 2px solid var(--secondary-fg-color);
    background-color: var(--tertiary-bg-color);
    border-radius: 10px;
    transition-duration:0.6s;
    box-shadow: var(--secondary-box-shadow);
}
.active:hover{
    background-color: var(--tertiary-bg-color);
}
.drawer__container{
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 60vh;
}

    .navbar__navLink{
        color: var(--secondary-fg-color);
        font-size: 0.9rem;
        font-weight:700;
        padding: 10px 20px;
    }